<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

<header class="d-flex bg-dark text-while fixed-top justify-content-between">
    <div class="container-fluid">
        <div class="navbar-text">
            <span class="navbar-text text-white" style="font-weight: bold;" th:text="${user.getEmail()}"></span>
            <span class="text-white"> with roles:</span>
            <span class="navbar-text text-white">
                <a th:each="role: ${user.getRoles()}" th:text="${role.name.replaceFirst('ROLE_', '') + ' '}"></a>
            </span>
        </div>
    </div>
    <span class="navbar-text pe-3">
        <a class="text-muted text-decoration-none" th:href="@{/logout}">Logout</a>
    </span>
</header>

<div class="container-fluid">
    <div class="row">

        <div class="p-0 col-2 pt-5">
            <div class="nav flex-column nav-pills me-3 pt-2" id="v-pills-tab" role="tablist"
                 aria-orientation="vertical">
                <a class="nav-link active" id="adminTab" data-bs-toggle="pill" href="#adminPage"
                   aria-controls="adminPage" aria-selected="true">Admin</a>
                <a class="nav-link" id="userPageTab" data-bs-toggle="pill" href="#userPage"
                   aria-controls="userPage" aria-selected="false">User</a>
            </div>
        </div>

        <div class="col-sm-10 bg-light pt-4" style="height: 100vh">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="adminPage" role="tabpanel"
                     aria-labelledby="adminTab">
                    <div class="nav flex-column pt-4">
                        <h2 class="pt-2 pb-3">Admin panel</h2>

                        <nav class="nav nav-tabs">
                            <a class="nav-link active" data-bs-toggle="tab" href="#nav-all" id="usersTable">Users
                                table</a>
                            <a class="nav-link" data-bs-toggle="tab" href="#nav-new">New User</a>
                        </nav>

                        <div class="tab-content">

                            <!--                All users-->
                            <div class="tab-pane fade show active" id="nav-all">
                                <div style="border-right: 1px solid #dee2e6!important; border-left: 1px solid #dee2e6!important; border-bottom: 1px solid #dee2e6!important">
                                    <h5 style="margin: 12px">All users</h5>
                                </div>

                                <div class="bg-white bg-white pb-4 ps-4 pe-4"
                                     style="border-right: 1px solid #dee2e6!important; border-left: 1px solid #dee2e6!important; border-bottom: 1px solid #dee2e6!important">
                                    <br/>
                                    <table class="table table-hover" style="border-top: 1px solid #dee2e6!important">
                                        <tr>
                                            <th>ID</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Age</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        <tbody class="users-table" id="users-table" style="border-top: none;"></tbody>
                                    </table>

                                    <!--                                    Edit modal-->

                                    <div class="modal fade edit-modal" id="editModal">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">

                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                                    <button type="button" class="btn-close"
                                                            data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>

                                                <div class="modal-body" style="align-items: center; justify-content: center">
                                                    <form th:align="center" id="editForm">
                                                        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center">

                                                            <div class="col pt-3">
                                                                <label for="editId"><b>ID</b>:</label>
                                                                <input class="form-control" th:name="id"
                                                                       th:type="text"
                                                                       disabled
                                                                       id="editId"/>
                                                            </div>

                                                            <div class="col pt-3">
                                                                <label for="editName"><b>First name</b>:</label>
                                                                <input class="form-control" th:name="username"
                                                                       th:type="text"
                                                                       id="editName"/>
                                                            </div>

                                                            <div class="col pt-3">
                                                                <label for="editLastName"><b>Last name</b>:</label>
                                                                <input class="form-control" th:name="lastName"
                                                                       th:type="text"
                                                                       id="editLastName"/>
                                                            </div>

                                                            <div class="col pt-3">
                                                                <label for="editAge"><b>Age</b>:</label>
                                                                <input class="form-control" th:name="age"
                                                                       th:type="number"
                                                                       id="editAge"/>
                                                            </div>

                                                            <div class="col pt-3">
                                                                <label for="editEmail"><b>Email</b>:</label>
                                                                <input class="form-control" th:name="email"
                                                                       th:type="text"
                                                                       id="editEmail"/>
                                                            </div>

                                                            <div class="col pt-3">
                                                                <label for="editPassword"><b>Password</b>:</label>>
                                                                <input class="form-control" th:name="password"
                                                                       th:type="text"
                                                                       id="editPassword"/>
                                                            </div>

                                                            <div class="col pt-3 pb-4">
                                                                <label><b>Role</b>:</label>
                                                                <select required multiple class="form-control"
                                                                        size="2"
                                                                        id="roles" name="roles">
                                                                    <option value="1">ADMIN</option>
                                                                    <option value="2">USER</option>
                                                                </select>
                                                            </div>

                                                        </div>

                                                    </form>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <button type="button" class="btn btn-primary" onclick="editUser()">Edit
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <!--    deleteUserModel     -->

                                    <div class="modal fade" id="deleteModal">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">

                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteModalLabel">Delete
                                                        user</h5>
                                                    <button type="button" class="btn-close"
                                                            data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>

                                                <form th:align="center" id="modalDelete">
                                                    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center">

                                                        <div class="col pt-3">
                                                            <div><b>ID</b></div>
                                                            <input class="form-control" th:name="id"
                                                                   th:type="text"
                                                                   id="deleteId"
                                                                   th:value="${user.id}" disabled/>
                                                        </div>

                                                        <div class="col pt-3">
                                                            <div><b>First name</b></div>
                                                            <input class="form-control" th:name="username"
                                                                   th:type="text"
                                                                   id="deleteName" th:value="${user.username}"
                                                                   disabled/>
                                                        </div>

                                                        <div class="col pt-3">
                                                            <div><b>Last name</b></div>
                                                            <input class="form-control" th:name="lastName"
                                                                   th:type="text"
                                                                   id="deleteLastName" th:value="${user.lastName}"
                                                                   disabled/>
                                                        </div>

                                                        <div class="col pt-3">
                                                            <div><b>Age</b></div>
                                                            <input class="form-control" th:name="age"
                                                                   th:type="number"
                                                                   id="deleteAge"
                                                                   th:value="${user.age}" disabled/>
                                                        </div>

                                                        <div class="col pt-3">
                                                            <div><b>Email</b></div>
                                                            <input class="form-control" th:name="email"
                                                                   th:type="text"
                                                                   id="deleteEmail" th:value="${user.email}"
                                                                   disabled/>
                                                        </div>

                                                        <div class="col pt-3">
                                                            <div><b>Password</b></div>
                                                            <input class="form-control" th:name="password"
                                                                   th:type="text"
                                                                   id="password1" th:value="${user.password}"
                                                                   disabled/>
                                                        </div>

                                                        <div class="col pt-3 pb-4">
                                                            <div><b>Role</b></div>
                                                            <select required multiple class="form-control"
                                                                    size="2"
                                                                    id="deleteRole" name="role" disabled>
                                                                <option th:each="role : ${roleUser}"
                                                                        th:text="${role.name.replaceFirst('ROLE_', '') + ''}"
                                                                        th:value="${role.id}">
                                                                </option>
                                                            </select>
                                                        </div>

                                                    </div>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">
                                                            Close
                                                        </button>
                                                        <button type="button" class="btn btn-danger" onclick="deleteUser()">Delete
                                                        </button>
                                                    </div>

                                                </form>

                                            </div>
                                        </div>
                                    </div>

                                    </tr>
                                </div>
                            </div>

                            <!--                New Users-->

                            <div class="tab-pane fade" id="nav-new" aria-labelledby="nav-profile-tab">
                                <div style="border-right: 1px solid #dee2e6!important; border-left: 1px solid #dee2e6!important; border-bottom: 1px solid #dee2e6!important">
                                    <h5 style="margin: 12px">Add new user</h5>
                                </div>

                                <div class="bg-white bg-white pb-4 ps-4 pe-4 d-flex"
                                     style="border-right: 1px solid #dee2e6!important; border-left: 1px solid #dee2e6!important; border-bottom: 1px solid #dee2e6!important; align-items: center; justify-content: center">
                                    <form style="flex: auto; max-width: 30%" id="newUserForm">
                                        <div>
                                            <div class="col pt-3">
                                                <label for="newName" class="text-center"><b>First name</b></label>
                                                <input class="form-control" th:name="username" th:type="text"
                                                       id="newName"
                                                       placeholder="First name" required/>
                                            </div>

                                            <div class="col pt-3">
                                                <label for="newLastName" class="text-center"><b>Last name</b></label>
                                                <input class="form-control" th:name="lastName" th:type="text"
                                                       id="newLastName"
                                                       placeholder="Last name" required/>
                                            </div>

                                            <div class="col pt-3">
                                                <label for="newAge" class="text-center"><b>Age</b></label>
                                                <input class="form-control" th:name="age" th:type="number" id="newAge"
                                                       placeholder="Age" required/>
                                            </div>

                                            <div class="col pt-3">
                                                <label for="newEmail" class="text-center"><b>Email</b></label>
                                                <input class="form-control" th:name="email" th:type="text"
                                                       id="newEmail" placeholder="Email" required/>
                                            </div>

                                            <div class="col pt-3">
                                                <label for="newPassword" class="text-center"><b>Password</b></label>
                                                <input class="form-control" th:name="password" th:type="text"
                                                       id="newPassword" placeholder="Password" required/>
                                            </div>

                                            <div class="col pt-3 pb-4">
                                                <div class="text-center"><b>Role</b></div>
                                                <select required multiple class="form-control"
                                                        size="2"
                                                        id="role_select" name="role">
                                                    <option th:each="role : ${roleUser}"
                                                            th:text="${role.name.replaceFirst('ROLE_', '') + ''}"
                                                            th:value="${role.id}">
                                                    </option>
                                                </select>

                                                <div class="text-center mt-3">
                                                    <button th:type="submit" class="btn btn-success btn-lg">Add new
                                                        user
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </form>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="tab-pane fade" id="userPage" role="tabpanel" aria-labelledby="userPageTab">
                    <div class="nav flex-column nav-pills pt-4">
                        <h2 class="pt-2 pb-3">User information-page</h2>
                        <div>
                            <div class="col border">
                                <h6 style="margin: 10px">About User</h6>
                            </div>
                        </div>

                        <div class="col bg-white bg-white pb-4 ps-4 pe-4"
                             style="border-right: 1px solid #dee2e6!important; border-left: 1px solid #dee2e6!important; border-bottom: 1px solid #dee2e6!important;">
                            <br/>
                            <table class="table table-hover" style="border-top: 1px solid #dee2e6!important">
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>

                                <tr>
                                    <td th:text="${user.getId()}"></td>
                                    <td th:text="${user.getUsername()}"></td>
                                    <td th:text="${user.getLastName()}"></td>
                                    <td th:text="${user.getAge()}"></td>
                                    <td th:text="${user.getEmail()}"></td>
                                    <td><a th:each="role: ${user.getRoles()}"
                                           th:text="${role.name.replaceFirst('ROLE_', '') + ' '}">ROLE(S)</a>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"
        integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
<script src="/App.js"></script>


</body>
</html>